/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
	font-family: 'Open Sans', sans-serif;
}

/* Header */
.header{
	background: #FFFFFF;
	a {
    color: #063346;
    position: relative;
    padding: 10px;
	}
}
.header-alert{
	border-bottom: 2px solid #ccc;
  background: #eee;
  line-height: 18px;
  font-size: 12px;
  padding: 5px;
}
.company-logo {
	img {
		height: 53px;
	}
	p{
		color: blue;
		span{
			color: red;
		}
	}
}
.secondary-header {
	background: #063346;
    color: #fff;
    padding: 10px 0;
}
@media (min-width: 1200px){
	.secondary-header h3 {
	    font-size: 24px;
	}
}
@media (min-width: 992px){
	.secondary-header h3 {
	    font-size: 20px;
	}
}
@media (min-width: 768px){
	.secondary-header h3 {
	    font-size: 20px;
	}
}
/**/

/* Body */
.landing-page-background {
	background-image: url("healthy_family_outside.jpg");
  position: absolute;
  width: 100%;
  /*height: 100%;*/
}
/**/


/*Footer*/
footer{
	background: #063346;
	color: white;
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 12px;
}

/**/